body {
    background-image: url("img/background-img.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hangman-container img {
    width: 150px;
    height: auto;
}

.word-container, .used-letters {
    font-size: 1.5em;
    margin-top: 20px;
}

.input-container {
    margin-top: 20px;
}

#letter-input {
    font-size: 1em;
    padding: 5px;
    width: 50px;
    text-align: center;
}
