body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: white;
    margin: 20px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color:bisque;
}

header {
    text-align: center;
    background-color: #899B9F;
    padding: 10px;
}
p , ul{
    width: 60%; 
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 10px; 
    background: #93BBBF; 
    text-align: center; 
}
nav {
    display: flex;
    justify-content: space-between;
    background-color:#93BBBF;
    padding: 10px;
    margin-bottom: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}
section {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
form {
    width: 90%; 
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 10px; 
    background: #93BBBF; 
}
div {
    text-align: center;
}
div img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}
.center-content {
    text-align: center;  
}
.social-links {
    margin-top: 20px; 
}
.social-links a {
    display: inline-block; 
    margin: 0 10px;  
    padding: 8px 15px;  
    background-color: #333;  
    color: white;  
    text-decoration: none;  
    border-radius: 5px;  
    transition: background-color 0.3s ease;  
}
.social-links a:hover {
    background-color: #555;  
}